<div class="view-data">
    <div class="header">
        <span><f:translate key="module.stats.month" extensionName="supportchat-stats"/></span>
        <span><f:translate key="module.stats.amount.chats" extensionName="supportchat-stats"/></span>
    </div>
    <f:for each="{data}" as="elm">
        <div class="body">
            <span class="cell-date col-md-6">
                 <f:translate key="module.stats.month{elm.month}" extensionName="supportchat-stats"/>
            </span>
            <span class="cell-number">{elm.cnt}</span>
        </div>
    </f:for>
</div>