#sc-stats .nav-current {
    display: inline-block;
    margin: 0 0.5em 0 0;
}

#sc-stats a.nav-paginator {
    display: inline-block;
    color: rgb(5, 47, 150);
    margin: 0 0.5em 0 0;
}
#sc-stats a.nav-paginator:hover {
    color: #404d6d;
}

#sc-stats a.nav-paginator:first-child {
    margin: 0 0.75em 0 0;
}

#sc-stats #messages-table {
    display: table;
    table-layout: fixed;
    float: left;
    max-width: 66%;
}

#sc-stats #messages-header{
    display: table-header-group;
    background-color: #02133d;
    font-weight: bold;
    color: white;
}

#sc-stats .messages-header-cell{
    display: table-cell;
    padding: 0.5em 1em;
    border-bottom: 1px solid #02133d;
}

#sc-stats #messages-body {
    display: table-row-group;
}

#sc-stats .messages-row {
    display: table-row;
}

#sc-stats .messages-client {
    background-color: #dcdcdc;
}

#sc-stats .messages-body-cell {
    display: table-cell;
    padding: 0.25em 0.75em 0.25em;
}

#sc-stats .tbl .messages-body-cell {
    text-align: right;
}

#sc-stats #sc-stats-chart {
    width: 1000px !important;
    height: 500px !important;
}

#sc-stats .view-chart {
    display: inline-block;
    float: left;
}

#sc-stats .view-data {
    display: inline-block;
    font-size: 1.125em;
    margin: 2.75em 0 0 3em;
}

#sc-stats .view-data .header {
    background-color: #02133d;
    color: white;
}

#sc-stats .view-data .body:nth-child(odd) {
    background-color: #f3f3f3
}

#sc-stats .view-data .body span:first-child {
    background-color: #ed7602;
}

#sc-stats .view-data .body .cell-number {
    float: right;
    text-align: right;
}

#sc-stats .view-data .body .cell-date {
    text-align: justify;
}

#sc-stats .view-data span {
    display: inline-block;
    padding: 0.375em 0.5em;
}

#sc-stats .list-chats {
    margin: 0 2em 0 0;
    padding: 0;
    float: right;
    font-size: 1em;
}

#sc-stats .list-chats .header span:first-child,
#sc-stats .list-chats .body span:first-child {
    width: 8em;
}
